# 02_02: Lists, Tuples, and the Slicing Syntax

In [2]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [3]:
nephews = ["Huey", "Dewey", "Louie"]
# a typical python list.

In [6]:
nephews

['Huey', 'Dewey', 'Louie']

In [7]:
len(nephews)

3

In [8]:
nephews[0]

'Huey'

In [9]:
nephews[2]

'Louie'

In [11]:
nephews[1]

'Dewey'

In [12]:
nephews[-1], nephews[-2]

('Louie', 'Dewey')

In [13]:
for i in range(3):
    nephews[i] = nephews[i] + ' Duck'

In [14]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck']

In [15]:
mix_it_up = [1, [2,3], 'alpha']

In [16]:
mix_it_up

[1, [2, 3], 'alpha']

In [17]:
nephews.append('April Duck')

In [18]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck']

In [19]:
nephews.extend(['May Duck','June Duck'])
# adding multiple elements in one go.

In [20]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [22]:
ducks = nephews + ['Donald Duck','Daisy Duck']
# Concatonating lists.

In [23]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [24]:
ducks.insert(0, 'Scrooge McDuck')
# inserting elements through using the insert method.

In [25]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [26]:
del ducks[0]

In [27]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [28]:
ducks.remove('Donald Duck')

In [29]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [30]:
ducks.sort()
# sprtomg, standard is in alphabetical order.

In [31]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'Huey Duck',
 'June Duck',
 'Louie Duck',
 'May Duck']

In [32]:
reverse_ducks = sorted(ducks, reverse=True)
# reverse order.

In [33]:
reverse_ducks

['May Duck',
 'Louie Duck',
 'June Duck',
 'Huey Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [34]:
squares = [1,4,9,16,25,36,49]

In [35]:
squares[0:2]
# the first two squares.

[1, 4]

In [36]:
squares[:4] # 0 to 3.

[1, 4, 9, 16]

In [37]:
squares[3:] # 3 and onwards.

[16, 25, 36, 49]

In [38]:
squares[:] # all of them.

[1, 4, 9, 16, 25, 36, 49]

In [39]:
squares[0:7:2] # steps of two.

[1, 9, 25, 49]

In [40]:
squares[-3:-1]

[25, 36]

In [41]:
squares[2:4] = ['four', 'nine']

In [42]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [43]:
del squares[4:6]

In [44]:
squares

[1, 4, 'four', 'nine', 49]

In [45]:
len([])

0

In [46]:
integers = ('one', 'two', 'three', 'four')

In [47]:
integers

('one', 'two', 'three', 'four')

In [48]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

In [49]:
integers[0] = 1

TypeError: 'tuple' object does not support item assignment

In [51]:
(a, b) = (1, 2)

In [52]:
c, d = 3, 4

In [53]:
for i, duck in enumerate(ducks):
    print(i, duck)

0 April Duck
1 Daisy Duck
2 Dewey Duck
3 Huey Duck
4 June Duck
5 Louie Duck
6 May Duck

In [54]:
def three_args(a, b, c):
    print(a, b, c)

In [55]:
my_args = (1,2,3)

In [56]:
three_args(*my_args)

1 2 3